<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.soldaini.urlbrowser</string>
	<key>connections</key>
	<dict>
		<key>14FD6955-7BB0-411F-8089-C5D151EC82E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8942063-A1A7-4070-88BF-C591DBFEB107</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D17701D6-B116-4E1A-ACE0-3E1C044630D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE718F3F-452F-4B1A-BAA6-9E0F1DA21535</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14FD6955-7BB0-411F-8089-C5D151EC82E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D07AF34B-EA69-43E2-A7FC-FBA245B745DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14FD6955-7BB0-411F-8089-C5D151EC82E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Soldaini</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>URL from Browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>safari</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D07AF34B-EA69-43E2-A7FC-FBA245B745DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied URL to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B8942063-A1A7-4070-88BF-C591DBFEB107</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"e0cd2b83ef9f3097762b9d9ec4ca76507b4320cd.png","title":"Safari","arg":"safari"},{"imagefile":"4d82b9405951f3b7f56f9ca12103eb0acaac7cc5.png","title":"Google Chrome","arg":"chrome"},{"imagefile":"fc8d3f3b73c2a81841472d490648b50b7b2c1a62.png","title":"Firefox","arg":"firefox"}]</string>
				<key>keyword</key>
				<string>geturl</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Choose Between Supported Browsers</string>
				<key>title</key>
				<string>Get URL From Browser</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BE718F3F-452F-4B1A-BAA6-9E0F1DA21535</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D17701D6-B116-4E1A-ACE0-3E1C044630D3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set inp to item 1 of argv
tell application "System Events"	if inp is "chrome" then		tell application "Google Chrome" to return URL of active tab of front window	else if inp is "safari" then		tell application "Safari" to return URL of front document	else if inp is "firefox" then		tell application "Firefox" to activate		tell application "System Events"			keystroke "l" using command down			keystroke "c" using command down		end tell		delay 0.5		return the clipboard	else		return	end ifend tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14FD6955-7BB0-411F-8089-C5D151EC82E9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search on labcollab.net</string>
	<key>uidata</key>
	<dict>
		<key>14FD6955-7BB0-411F-8089-C5D151EC82E9</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>B8942063-A1A7-4070-88BF-C591DBFEB107</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>BE718F3F-452F-4B1A-BAA6-9E0F1DA21535</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>D07AF34B-EA69-43E2-A7FC-FBA245B745DC</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D17701D6-B116-4E1A-ACE0-3E1C044630D3</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://gist.github.com/prashanthrajagopal/08ab39d62725c8a8716b</string>
</dict>
</plist>
