<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.soldaini.lock</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1124C543-675A-4717-985B-4D4A64D3EA43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEE6B122-4FB1-44D5-9690-6AF29B55ACB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27E22B9F-B384-46EA-A842-7D2528B6298C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>406C8C5C-A66C-4E02-A0A7-A3EFD87C230A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>294A52DC-6FB9-4549-8665-D58FDE0223F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>472862AD-9E63-47C5-A3D4-C460511B777E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C65D5DCB-4E6B-4067-90E7-945609E5B45B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5951FB5C-C50E-4488-B7ED-3485C88F84E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3D797CE-D09B-4B89-9A36-04576B54FDC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81F29126-A757-49B7-9B65-B93E136BCD2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1124C543-675A-4717-985B-4D4A64D3EA43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88E2A2E4-9E34-4AC3-8844-4FA25675535B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1124C543-675A-4717-985B-4D4A64D3EA43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9541024D-1027-4A3F-9AF7-F7B9611C749D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30C63C69-4E44-4C2D-934E-8C7293DA1FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6CEDD88-91E0-44ED-8D04-0700FAD425C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C65D5DCB-4E6B-4067-90E7-945609E5B45B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D83D7CFB-D541-4389-8F5D-688E1222497A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27E22B9F-B384-46EA-A842-7D2528B6298C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3D797CE-D09B-4B89-9A36-04576B54FDC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>406C8C5C-A66C-4E02-A0A7-A3EFD87C230A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAC71AD7-6378-4DD7-BAB0-6DFAA47D7A36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9541024D-1027-4A3F-9AF7-F7B9611C749D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Soldaini</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Automate Mac</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>80</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F19</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>294A52DC-6FB9-4549-8665-D58FDE0223F3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>119</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>↘</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>88E2A2E4-9E34-4AC3-8844-4FA25675535B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SafeEjectGPU Eject Triggered</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AEE6B122-4FB1-44D5-9690-6AF29B55ACB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>SafeEjectGPU Eject</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1124C543-675A-4717-985B-4D4A64D3EA43</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gpu eject</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Eject External GPU</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>81F29126-A757-49B7-9B65-B93E136BCD2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sleep 1
/usr/local/bin/screenresolution set 1024x600x32@60
sleep 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9541024D-1027-4A3F-9AF7-F7B9611C749D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>117</integer>
				<key>hotmod</key>
				<integer>9699328</integer>
				<key>hotstring</key>
				<string>⌦</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EAC71AD7-6378-4DD7-BAB0-6DFAA47D7A36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>6</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>30C63C69-4E44-4C2D-934E-8C7293DA1FA1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "System Events"	tell appearance preferences		set dark mode to not dark mode	end tellend tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C65D5DCB-4E6B-4067-90E7-945609E5B45B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>toggletheme</string>
				<key>subtext</key>
				<string>Switch between light and dark modes</string>
				<key>text</key>
				<string>Toggle Light/Dark Mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6CEDD88-91E0-44ED-8D04-0700FAD425C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>893621F5-9A20-454F-A48D-1F33F61CAC8F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>472862AD-9E63-47C5-A3D4-C460511B777E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wifi</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Wi-Fi</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D83D7CFB-D541-4389-8F5D-688E1222497A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>is_on=$(networksetup -getairportpower en0 | grep "On")
if [ -z "${is_on}" ]; then 
	query="on"
else
	query="off"
fi

networksetup -setairportpower en0 ${query}

echo "Wi-Fi is now ${query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>27E22B9F-B384-46EA-A842-7D2528B6298C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>406C8C5C-A66C-4E02-A0A7-A3EFD87C230A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bluetooth</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Bluetooth</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5951FB5C-C50E-4488-B7ED-3485C88F84E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>blt="/opt/homebrew/bin/blueutil"

if [ ! -f ${blt} ]; then
	echo "Please Install "blueutil" with brew"
	exit 1
fi

is_on=$(/opt/homebrew/bin/blueutil | grep "Power: 1")
if [ -z "${is_on}" ]; then 
	query=1
	msg="on"
else
	query=0
	msg="off"
fi

/opt/homebrew/bin/blueutil -p ${query}

echo "Bluetooth is now ${msg}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3D797CE-D09B-4B89-9A36-04576B54FDC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search on labcollab.net</string>
	<key>uidata</key>
	<dict>
		<key>1124C543-675A-4717-985B-4D4A64D3EA43</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>27E22B9F-B384-46EA-A842-7D2528B6298C</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>294A52DC-6FB9-4549-8665-D58FDE0223F3</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>30C63C69-4E44-4C2D-934E-8C7293DA1FA1</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>3F9C47AF-FF7F-4A0D-BBC3-6F42EC85F4AB</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>406C8C5C-A66C-4E02-A0A7-A3EFD87C230A</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>472862AD-9E63-47C5-A3D4-C460511B777E</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>5951FB5C-C50E-4488-B7ED-3485C88F84E8</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>81F29126-A757-49B7-9B65-B93E136BCD2B</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>88E2A2E4-9E34-4AC3-8844-4FA25675535B</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>893621F5-9A20-454F-A48D-1F33F61CAC8F</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>9541024D-1027-4A3F-9AF7-F7B9611C749D</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>AEE6B122-4FB1-44D5-9690-6AF29B55ACB9</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>B6CEDD88-91E0-44ED-8D04-0700FAD425C2</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>C65D5DCB-4E6B-4067-90E7-945609E5B45B</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>D83D7CFB-D541-4389-8F5D-688E1222497A</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>E3D797CE-D09B-4B89-9A36-04576B54FDC3</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>EAC71AD7-6378-4DD7-BAB0-6DFAA47D7A36</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>soldaini.net</string>
</dict>
</plist>
