<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application Mode</key>
	<integer>2</integer>
	<key>Custom Controls (4001)</key>
	<array>
		<dict>
			<key>Action</key>
			<integer>10001</integer>
			<key>Chain Mode</key>
			<integer>0</integer>
			<key>Children</key>
			<array>
				<dict>
					<key>Action</key>
					<integer>41</integer>
					<key>Hot Key</key>
					<dict>
						<key>Identifier</key>
						<string>1C7BB65C-782A-4386-AFCD-CCAFC0AA13E0</string>
						<key>Key Code</key>
						<integer>34</integer>
						<key>Modifier Flags</key>
						<integer>256</integer>
						<key>Visual Representation</key>
						<string>I</string>
					</dict>
					<key>Identifier</key>
					<string>1C7BB65C-782A-4386-AFCD-CCAFC0AA13E0</string>
					<key>Loop Through Displays</key>
					<true/>
					<key>Move Direction</key>
					<integer>3</integer>
					<key>Resize Proportionally</key>
					<false/>
					<key>Title</key>
					<string>Move to Display on the Top</string>
				</dict>
				<dict>
					<key>Action</key>
					<integer>41</integer>
					<key>Hot Key</key>
					<dict>
						<key>Identifier</key>
						<string>E6F14A27-BAC4-4C5E-B6FB-6D400342871F</string>
						<key>Key Code</key>
						<integer>40</integer>
						<key>Modifier Flags</key>
						<integer>256</integer>
						<key>Visual Representation</key>
						<string>K</string>
					</dict>
					<key>Identifier</key>
					<string>E6F14A27-BAC4-4C5E-B6FB-6D400342871F</string>
					<key>Loop Through Displays</key>
					<true/>
					<key>Move Direction</key>
					<integer>5</integer>
					<key>Resize Proportionally</key>
					<false/>
					<key>Title</key>
					<string>Move to Display on the Bottom</string>
				</dict>
				<dict>
					<key>Action</key>
					<integer>41</integer>
					<key>Hot Key</key>
					<dict>
						<key>Identifier</key>
						<string>7B0A4DFB-E8B4-4542-8FE5-713287267FAC</string>
						<key>Key Code</key>
						<integer>38</integer>
						<key>Modifier Flags</key>
						<integer>256</integer>
						<key>Visual Representation</key>
						<string>J</string>
					</dict>
					<key>Identifier</key>
					<string>7B0A4DFB-E8B4-4542-8FE5-713287267FAC</string>
					<key>Loop Through Displays</key>
					<true/>
					<key>Move Direction</key>
					<integer>5</integer>
					<key>Resize Proportionally</key>
					<false/>
				</dict>
				<dict>
					<key>Action</key>
					<integer>41</integer>
					<key>Hot Key</key>
					<dict>
						<key>Identifier</key>
						<string>D3369802-67F0-4190-A06B-5F89F67F60D6</string>
						<key>Key Code</key>
						<integer>37</integer>
						<key>Modifier Flags</key>
						<integer>256</integer>
						<key>Visual Representation</key>
						<string>L</string>
					</dict>
					<key>Identifier</key>
					<string>D3369802-67F0-4190-A06B-5F89F67F60D6</string>
					<key>Loop Through Displays</key>
					<true/>
					<key>Move Direction</key>
					<integer>9</integer>
					<key>Resize Proportionally</key>
					<false/>
				</dict>
			</array>
			<key>Children Expanded</key>
			<true/>
			<key>Identifier</key>
			<string>75B4B6CC-8C54-4345-9457-4916377D3BAE</string>
			<key>Title</key>
			<string>Move Displays</string>
		</dict>
		<dict>
			<key>Action</key>
			<integer>10001</integer>
			<key>Chain Mode</key>
			<integer>0</integer>
			<key>Children</key>
			<array>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>9</integer>
						<key>Configuration Grid: Rows</key>
						<integer>9</integer>
					</dict>
					<key>Identifier</key>
					<string>D60C7B7E-FAA1-4584-91C1-8FFD17F84268</string>
					<key>Relative Frame</key>
					<string>{{0, 0.66666666666666674}, {1, 0.33333333333333326}}</string>
					<key>Title</key>
					<string>1/3 Top</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>9</integer>
						<key>Configuration Grid: Rows</key>
						<integer>9</integer>
					</dict>
					<key>Identifier</key>
					<string>10D5D785-6C48-4A57-B040-61F99598A607</string>
					<key>Relative Frame</key>
					<string>{{0, 0}, {1, 0.33333333333333331}}</string>
					<key>Title</key>
					<string>1/3 Bottom</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>9</integer>
						<key>Configuration Grid: Rows</key>
						<integer>9</integer>
					</dict>
					<key>Identifier</key>
					<string>FCFD5778-7CC7-467F-B8B2-70568F5F38DD</string>
					<key>Relative Frame</key>
					<string>{{0, 0}, {0.33333333333333331, 1}}</string>
					<key>Title</key>
					<string>1/3 Left</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>9</integer>
						<key>Configuration Grid: Rows</key>
						<integer>9</integer>
					</dict>
					<key>Identifier</key>
					<string>AF46BC4B-81A8-44AF-91E9-A83CC7466C7E</string>
					<key>Relative Frame</key>
					<string>{{0.66666666666666674, 0}, {0.33333333333333326, 1}}</string>
					<key>Title</key>
					<string>1/3 Right</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
			</array>
			<key>Children Expanded</key>
			<true/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>1FCC5D54-0699-4910-9958-0DEDFD935A80</string>
				<key>Key Code</key>
				<integer>18</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>1</string>
			</dict>
			<key>Identifier</key>
			<string>1FCC5D54-0699-4910-9958-0DEDFD935A80</string>
			<key>Title</key>
			<string>1/3</string>
		</dict>
		<dict>
			<key>Action</key>
			<integer>10001</integer>
			<key>Chain Mode</key>
			<integer>0</integer>
			<key>Children</key>
			<array>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>9</integer>
						<key>Configuration Grid: Rows</key>
						<integer>9</integer>
					</dict>
					<key>Identifier</key>
					<string>EC1A2E9C-01EB-4630-BC9E-3909D5064362</string>
					<key>Relative Frame</key>
					<string>{{0, 0.33333333333333331}, {1, 0.66666666666666674}}</string>
					<key>Title</key>
					<string>2/3 Top</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>9</integer>
						<key>Configuration Grid: Rows</key>
						<integer>9</integer>
					</dict>
					<key>Identifier</key>
					<string>A427B751-8C27-44CD-A233-E8AF04C9DCE8</string>
					<key>Relative Frame</key>
					<string>{{0, 0}, {0.66666666666666674, 1}}</string>
					<key>Title</key>
					<string>2/3 Left</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>9</integer>
						<key>Configuration Grid: Rows</key>
						<integer>9</integer>
					</dict>
					<key>Identifier</key>
					<string>F2BA4663-DB20-436B-810E-81C471B9111F</string>
					<key>Relative Frame</key>
					<string>{{0, 0}, {1, 0.66666666666666674}}</string>
					<key>Title</key>
					<string>2/3 Bottom</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>9</integer>
						<key>Configuration Grid: Rows</key>
						<integer>9</integer>
					</dict>
					<key>Identifier</key>
					<string>651D0341-A840-450B-8F1B-01ACB179ED49</string>
					<key>Relative Frame</key>
					<string>{{0.33333333333333331, 0}, {0.66666666666666674, 1}}</string>
					<key>Title</key>
					<string>2/3 Right</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
			</array>
			<key>Children Expanded</key>
			<true/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>4984F9AE-1E6A-415F-9B9C-5005EEFC81D9</string>
				<key>Key Code</key>
				<integer>20</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>3</string>
			</dict>
			<key>Identifier</key>
			<string>4984F9AE-1E6A-415F-9B9C-5005EEFC81D9</string>
			<key>Title</key>
			<string>2/3</string>
		</dict>
		<dict>
			<key>Action</key>
			<integer>10001</integer>
			<key>Chain Mode</key>
			<integer>0</integer>
			<key>Children</key>
			<array>
				<dict>
					<key>Action</key>
					<integer>1001</integer>
					<key>Activate Applications</key>
					<false/>
					<key>Apply to Active Display</key>
					<false/>
					<key>Apply to Overlapping Windows</key>
					<true/>
					<key>Auto-Trigger</key>
					<false/>
					<key>Auto-Trigger Display Count</key>
					<integer>1</integer>
					<key>Auto-Trigger: Wake</key>
					<false/>
					<key>Generic</key>
					<true/>
					<key>Identifier</key>
					<string>7F7C83E9-39D4-413F-B950-1598DAB9E7F6</string>
					<key>Snapshot</key>
					<array>
						<dict>
							<key>Application Name</key>
							<string>Code</string>
							<key>Available Screen Frame</key>
							<string>{{-1080, 0}, {1080, 1920}}</string>
							<key>Bundle Identifier</key>
							<string>com.microsoft.vscode</string>
							<key>Screen Frame</key>
							<string>{{-1080, 0}, {1080, 1920}}</string>
							<key>Window Frame</key>
							<string>{{-810, 480}, {540, 960}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>Visual Studio Code</string>
						</dict>
					</array>
					<key>Snapshot Screens</key>
					<array>
						<string>{{0, 0}, {1080, 1920}}</string>
						<string>{{-1080, 0}, {1080, 1920}}</string>
					</array>
					<key>Stubborn</key>
					<false/>
					<key>Title</key>
					<string>Center Center</string>
				</dict>
				<dict>
					<key>Action</key>
					<integer>1001</integer>
					<key>Activate Applications</key>
					<false/>
					<key>Apply to Active Display</key>
					<false/>
					<key>Apply to Overlapping Windows</key>
					<true/>
					<key>Auto-Trigger</key>
					<false/>
					<key>Auto-Trigger Display Count</key>
					<integer>1</integer>
					<key>Auto-Trigger: Wake</key>
					<false/>
					<key>Generic</key>
					<true/>
					<key>Identifier</key>
					<string>CFD1FB42-D144-487B-BC0E-24B0EA7F7695</string>
					<key>Snapshot</key>
					<array>
						<dict>
							<key>Application Name</key>
							<string>Code</string>
							<key>Available Screen Frame</key>
							<string>{{-1080, 0}, {1080, 1920}}</string>
							<key>Bundle Identifier</key>
							<string>com.microsoft.vscode</string>
							<key>Screen Frame</key>
							<string>{{-1080, 0}, {1080, 1920}}</string>
							<key>Window Frame</key>
							<string>{{-810, 0}, {540, 1920}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>Visual Studio Code</string>
						</dict>
					</array>
					<key>Snapshot Screens</key>
					<array>
						<string>{{0, 0}, {1080, 1920}}</string>
						<string>{{-1080, 0}, {1080, 1920}}</string>
					</array>
					<key>Stubborn</key>
					<false/>
					<key>Title</key>
					<string>Center Tall</string>
				</dict>
				<dict>
					<key>Action</key>
					<integer>1001</integer>
					<key>Activate Applications</key>
					<false/>
					<key>Apply to Active Display</key>
					<false/>
					<key>Apply to Overlapping Windows</key>
					<true/>
					<key>Auto-Trigger</key>
					<false/>
					<key>Auto-Trigger Display Count</key>
					<integer>1</integer>
					<key>Auto-Trigger: Wake</key>
					<false/>
					<key>Generic</key>
					<true/>
					<key>Identifier</key>
					<string>B1A53CFE-C56A-45E1-9926-68344A438306</string>
					<key>Snapshot</key>
					<array>
						<dict>
							<key>Application Name</key>
							<string>Code</string>
							<key>Available Screen Frame</key>
							<string>{{-1080, 0}, {1080, 1920}}</string>
							<key>Bundle Identifier</key>
							<string>com.microsoft.vscode</string>
							<key>Screen Frame</key>
							<string>{{-1080, 0}, {1080, 1920}}</string>
							<key>Window Frame</key>
							<string>{{-1080, 480}, {1080, 960}}</string>
							<key>Window Subrole</key>
							<string>AXStandardWindow</string>
							<key>Window Title</key>
							<string>Visual Studio Code</string>
						</dict>
					</array>
					<key>Snapshot Screens</key>
					<array>
						<string>{{0, 0}, {1080, 1920}}</string>
						<string>{{-1080, 0}, {1080, 1920}}</string>
					</array>
					<key>Stubborn</key>
					<false/>
					<key>Title</key>
					<string>Center Wide</string>
				</dict>
			</array>
			<key>Children Expanded</key>
			<true/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>568C85F6-39E5-4CFC-9B0C-0DC3D860FE31</string>
				<key>Key Code</key>
				<integer>8</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>C</string>
			</dict>
			<key>Identifier</key>
			<string>568C85F6-39E5-4CFC-9B0C-0DC3D860FE31</string>
			<key>Title</key>
			<string>Center</string>
		</dict>
		<dict>
			<key>Action</key>
			<integer>10001</integer>
			<key>Chain Mode</key>
			<integer>0</integer>
			<key>Children</key>
			<array>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>10</integer>
						<key>Configuration Grid: Rows</key>
						<integer>10</integer>
					</dict>
					<key>Identifier</key>
					<string>B8708256-9A0C-4630-AC5D-71F5F944EE1B</string>
					<key>Relative Frame</key>
					<string>{{0, 0.5}, {1, 0.5}}</string>
					<key>Title</key>
					<string>1/2 Top</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>10</integer>
						<key>Configuration Grid: Rows</key>
						<integer>10</integer>
					</dict>
					<key>Identifier</key>
					<string>6DC4169F-2CEB-4643-B77C-082ABD7C2C20</string>
					<key>Relative Frame</key>
					<string>{{0, 0}, {0.5, 1}}</string>
					<key>Title</key>
					<string>1/2 Left</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>10</integer>
						<key>Configuration Grid: Rows</key>
						<integer>10</integer>
					</dict>
					<key>Identifier</key>
					<string>86A49816-8308-4179-BBCE-A6AB5A45F910</string>
					<key>Relative Frame</key>
					<string>{{0, 0}, {1, 0.5}}</string>
					<key>Title</key>
					<string>1/2 Bottom</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
				<dict>
					<key>Action</key>
					<integer>19</integer>
					<key>Configuration Grid</key>
					<dict>
						<key>Configuration Grid: Columns</key>
						<integer>10</integer>
						<key>Configuration Grid: Rows</key>
						<integer>10</integer>
					</dict>
					<key>Identifier</key>
					<string>E1EB65AB-75B5-4C02-9509-5AC4E88C6F30</string>
					<key>Relative Frame</key>
					<string>{{0.5, 0}, {0.5, 1}}</string>
					<key>Title</key>
					<string>1/2 Right</string>
					<key>Window Description</key>
					<dict>
						<key>Application Name</key>
						<string>Code</string>
						<key>Available Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Bundle Identifier</key>
						<string>com.microsoft.vscode</string>
						<key>PID</key>
						<string>70678</string>
						<key>Screen Frame</key>
						<string>{{-1080, 0}, {1080, 1920}}</string>
						<key>Window Frame</key>
						<string>{{-1080, 0}, {1080, 960}}</string>
						<key>Window Number</key>
						<string>28945</string>
						<key>Window Subrole</key>
						<string>AXStandardWindow</string>
						<key>Window Title</key>
						<string>tool_chained [SSH: slurm-cpu-icelake-238-031] · user_scripts/lucasoldaini/dreamworks/clean_fun/prompts/phase2.py</string>
					</dict>
				</dict>
			</array>
			<key>Children Expanded</key>
			<true/>
			<key>Hot Key</key>
			<dict>
				<key>Identifier</key>
				<string>8BCB054A-E373-4B81-AC09-7E07A08A7293</string>
				<key>Key Code</key>
				<integer>19</integer>
				<key>Modifier Flags</key>
				<integer>256</integer>
				<key>Visual Representation</key>
				<string>2</string>
			</dict>
			<key>Identifier</key>
			<string>8BCB054A-E373-4B81-AC09-7E07A08A7293</string>
			<key>Title</key>
			<string>1/2</string>
		</dict>
	</array>
	<key>Dismiss After Moving</key>
	<false/>
	<key>Dismiss After Other</key>
	<false/>
	<key>Drop Snap</key>
	<true/>
	<key>Focus</key>
	<real>0.32603313379542115</real>
	<key>Focus: Style</key>
	<integer>1</integer>
	<key>Grid Spacing</key>
	<false/>
	<key>Grid Spacing: Auto-Enabled Default Spacing</key>
	<true/>
	<key>Grid Spacing: Gap</key>
	<integer>1</integer>
	<key>Hover</key>
	<false/>
	<key>Key Control: Arrow</key>
	<integer>31</integer>
	<key>Key Control: Arrow: Command</key>
	<integer>52</integer>
	<key>Key Control: Arrow: Control</key>
	<integer>12</integer>
	<key>Key Control: Arrow: Option</key>
	<integer>53</integer>
	<key>Key Control: Escape</key>
	<integer>1</integer>
	<key>Key Control: Return</key>
	<integer>0</integer>
	<key>Key Control: Space</key>
	<integer>11</integer>
	<key>Keyboard Controls</key>
	<dict>
		<key>Identifier</key>
		<string>Keyboard Controls</string>
		<key>Key Code</key>
		<integer>47</integer>
		<key>Modifier Flags</key>
		<integer>1048848</integer>
		<key>Visual Representation</key>
		<string>⌘.</string>
	</dict>
	<key>Keyboard Controls Grid</key>
	<true/>
	<key>Mouse Controls Delay</key>
	<real>0.1</real>
	<key>Mouse Controls Grid</key>
	<true/>
	<key>Mouse Controls Grid: Columns</key>
	<integer>8</integer>
	<key>Mouse Controls Grid: Mode</key>
	<integer>3</integer>
	<key>Mouse Controls Grid: Rows</key>
	<integer>8</integer>
	<key>PMSparkleWrapperUpdateStatus</key>
	<string>4.4.2:1776810857:</string>
	<key>Palette</key>
	<dict>
		<key>4-1</key>
		<string>CFD1FB42-D144-487B-BC0E-24B0EA7F7695</string>
		<key>4-2</key>
		<string>FCFD5778-7CC7-467F-B8B2-70568F5F38DD</string>
		<key>4-3</key>
		<string>A427B751-8C27-44CD-A233-E8AF04C9DCE8</string>
		<key>4-4</key>
		<integer>9</integer>
		<key>5-1</key>
		<string>B1A53CFE-C56A-45E1-9926-68344A438306</string>
		<key>5-2</key>
		<string>AF46BC4B-81A8-44AF-91E9-A83CC7466C7E</string>
		<key>5-3</key>
		<string>651D0341-A840-450B-8F1B-01ACB179ED49</string>
		<key>5-4</key>
		<integer>5</integer>
		<key>6-1</key>
		<string>7F7C83E9-39D4-413F-B950-1598DAB9E7F6</string>
		<key>6-2</key>
		<string>D60C7B7E-FAA1-4584-91C1-8FFD17F84268</string>
		<key>6-3</key>
		<string>EC1A2E9C-01EB-4630-BC9E-3909D5064362</string>
		<key>6-4</key>
		<integer>3</integer>
		<key>7-1</key>
		<integer>2</integer>
		<key>7-2</key>
		<string>10D5D785-6C48-4A57-B040-61F99598A607</string>
		<key>7-3</key>
		<string>F2BA4663-DB20-436B-810E-81C471B9111F</string>
		<key>7-4</key>
		<integer>7</integer>
	</dict>
	<key>Palette: Hidden Items</key>
	<array/>
	<key>Quit Without Confirmation</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-04-21T22:34:17Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>Show Cheat Sheet</key>
	<true/>
	<key>Show Intro Popover</key>
	<false/>
	<key>Snap</key>
	<true/>
	<key>Snap Delay</key>
	<real>0.2</real>
	<key>Snap: 10</key>
	<integer>13</integer>
	<key>Snap: Ignore Bordering Edges And Corners</key>
	<false/>
	<key>WebKitCacheModelPreferenceKey</key>
	<integer>1</integer>
</dict>
</plist>
