<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>53D72661-80B6-4280-80B4-99AD048F03CF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lucky</string>
			<key>text</key>
			<string>I'm Feeling Lucky for '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q=\{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B8D6D36F-C827-40ED-B400-72DBC2F719D8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>semantic</string>
			<key>text</key>
			<string>Search Semantic Scholar for '{query}'</string>
			<key>url</key>
			<string>https://www.semanticscholar.org/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EEFB16BA-CD31-4EA2-87FE-0A8166765D15</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>scholar</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Google Scholar for '{query}'</string>
			<key>url</key>
			<string>https://scholar.google.com/scholar?hl=en&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
