<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.soldaini.labcollab</string>
	<key>connections</key>
	<dict>
		<key>01925D6F-52E0-4F35-BD09-6C8315C1381C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90C4974C-5412-4A70-8AE2-F1A4099BBF20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0BA58A62-23BC-4066-AD98-8EF316D16F1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C66BDB5C-276D-47F2-A40D-0790DD0F8B57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56D7627F-0559-4C0F-8010-E3AF71E2B25E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09657A43-4694-4A2A-AB22-BF370E0DDA45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90C4974C-5412-4A70-8AE2-F1A4099BBF20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1511B61-BEA5-4247-BFDA-38CA723514CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADEDD0A2-8BCF-4491-A69B-B54F4D509E45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BA58A62-23BC-4066-AD98-8EF316D16F1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>01925D6F-52E0-4F35-BD09-6C8315C1381C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>56D7627F-0559-4C0F-8010-E3AF71E2B25E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1486507-19E6-432E-BAE2-1645A4FA256E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADEDD0A2-8BCF-4491-A69B-B54F4D509E45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C66BDB5C-276D-47F2-A40D-0790DD0F8B57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAC92FB2-3B21-45D1-8A66-9CF72F042471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Soldaini</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LabCollab search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://issues.labcollab.net/secure/QuickSearch.jspa?searchString={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AAC92FB2-3B21-45D1-8A66-9CF72F042471</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^jira </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C66BDB5C-276D-47F2-A40D-0790DD0F8B57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^jira.+$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0BA58A62-23BC-4066-AD98-8EF316D16F1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search LabCollab: '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>B1486507-19E6-432E-BAE2-1645A4FA256E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lc</string>
				<key>subtext</key>
				<string>Start your query with 'jira' or 'wiki'</string>
				<key>text</key>
				<string>Search LabCollab</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADEDD0A2-8BCF-4491-A69B-B54F4D509E45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://wiki.labcollab.net/confluence/dosearchsite.action?queryString={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D1511B61-BEA5-4247-BFDA-38CA723514CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^wiki </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>90C4974C-5412-4A70-8AE2-F1A4099BBF20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^wiki.+$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>01925D6F-52E0-4F35-BD09-6C8315C1381C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your query must start with 'jira' or 'wiki'</string>
				<key>title</key>
				<string>Query '{query}' not recognized!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09657A43-4694-4A2A-AB22-BF370E0DDA45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^[^(wiki)|(issues)].+$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>56D7627F-0559-4C0F-8010-E3AF71E2B25E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search on labcollab.net</string>
	<key>uidata</key>
	<dict>
		<key>01925D6F-52E0-4F35-BD09-6C8315C1381C</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>09657A43-4694-4A2A-AB22-BF370E0DDA45</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>0BA58A62-23BC-4066-AD98-8EF316D16F1C</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>56D7627F-0559-4C0F-8010-E3AF71E2B25E</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>90C4974C-5412-4A70-8AE2-F1A4099BBF20</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>AAC92FB2-3B21-45D1-8A66-9CF72F042471</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>ADEDD0A2-8BCF-4491-A69B-B54F4D509E45</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>B1486507-19E6-432E-BAE2-1645A4FA256E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C66BDB5C-276D-47F2-A40D-0790DD0F8B57</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>D1511B61-BEA5-4247-BFDA-38CA723514CC</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>soldaini.net</string>
</dict>
</plist>
