<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.bundled.osx</string>
	<key>darkthemeuid</key>
	<string>theme.custom.269C4FD7-6B4E-4D4C-9C90-D6B84C116B18</string>
	<key>lightthemeuid</key>
	<string>theme.custom.1143980A-D20F-4E10-AE07-5B3F546A3731</string>
</dict>
</plist>
