<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.8C2B0574-87EF-4BE8-8C6C-B229089CDAA3</string>
	<key>darkthemeuid</key>
	<string>theme.custom.81C1948E-4D12-41BB-B0CE-12E88A7A770B</string>
</dict>
</plist>
