# bells are annoying
set completion-ignore-case on
set bell-style none

# navigate with CTRL + arrows, delete previous word with CTRL + delete
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\C-H": backward-kill-word