<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.google.fallback</string>
		<string>features.websearch.custom.53D72661-80B6-4280-80B4-99AD048F03CF.fallback</string>
		<string>features.websearch.custom.B8D6D36F-C827-40ED-B400-72DBC2F719D8.fallback</string>
		<string>features.websearch.twittersearch.fallback</string>
		<string>features.websearch.gtranslate.fallback</string>
	</array>
	<key>showUserDefined</key>
	<array>
		<string>dyn.ah62d4rv4ge80g55eqy01s55wrr31a2pdqy</string>
	</array>
</dict>
</plist>
